<div id="event_^event_id^" class="ssf-events-calendar">
    <div class="ssf-title-actions">
        <h2><a href="^event_url^">^event_name^</a></h2>
        <a href="javascript:toggleFav('^event_id^')" id="fave-^event_id^"
           data-fave-id="^event_id^" class="btn-link ssf-fave"
           data-toggle="tooltip" role="button" disabled></a>
    </div>
    <!-- ^ tmp_elements=event=event_buttons ^ -->
    <h4>^event_date^</h4>
    <h5><a href="^venue_url^" target="_blank">^venue_name^</a></h5>
    <h5><a href="https://maps.google.com/?q=^venue_address^" target="_blank">^venue_address^</a></h5>
</div>
